<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        version="1.0" >
  <name>Extream Fast Forward</name>
  <description>Fastforward enhancement.</description>
  <author href="http://ashula.info">t.ashula</author>
  <icon src="icons/eff.png" />
  <access origin="*" />
</widget>
