<?xml version="1.0" encoding="utf-8"?>
<widget 
    xmlns="http://www.w3.org/ns/widgets"
    version="1.4"
    >
  <name>BinFix</name>
  <description>This extension attempts to correct wrong mime-typed content and reload them as original format.</description>
  <author href="http://ashula.info">t.ashula</author>
  <icon src="icons/icon.png" />
  <!--
      http://openiconlibrary.sourceforge.net/gallery2/?./Icons/mimetypes/oxygen-style/application-octet-stream.png
      http://openiconlibrary.sourceforge.net/gallery2/?./Icons/mimetypes/oxygen-style/image-x-generic.png
      these icons are license under creative commons BY-SA 3.0
      http://creativecommons.org/licenses/by-sa/3.0/
  -->
  <!--access origin="*" /-->
</widget>
