<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
  <name>alert</name>
  <description>demo</description>
  <author href="http://ashula.info">t.ashula</author>
  <icon src="icons/binfix.png" />
  <!-- icon source: http://openiconlibrary.sourceforge.net/gallery2/?./Icons/mimetypes/tango-style/image-x-generic.png -->
</widget>
